
h2 {color: #ef2626;}
.content {padding: 20px; display: flex; justify-content: center; flex-direction: column; align-items: center;background: #181818;}

.movie-carousel {width: 100%;margin: 20px auto;display: flex;justify-content: center;gap: 20px;padding: 0 10px;box-sizing: border-box;overflow: visible;align-items: center;height: 450px;}
.movie-container {display: flex; flex-wrap: nowrap; transition: transform 1s ease; gap: 10px;}
.movie-item {position: relative;width: 300px;height: 450px;text-align: center;background: #424242;border-radius: 15px;box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);transition: transform 0.3s ease;}
.movie-item:hover .movie-title {opacity: 1;transform: translateY(0);}
.movie-item a {display: block;position: relative;height: 100%;}
.movie-item img {width: 100%;height: 100%;object-fit: cover;border-radius: 15px;}
.movie-item:hover::after,
.movie-grid-item:hover::after {content: attr(data-title);position: absolute;bottom: 0;left: 0;width: 100%;background: rgba(0, 0, 0, 0.7);color: rgb(184, 20, 20);font-size: 14px;padding: 10px 0;text-align: center;opacity: 1;transform: translateY(0);display: flex;justify-content: center;align-items: center;pointer-events: none;color: rgb(255, 255, 255);}
.resolution, .serie {position: absolute;top: 10px;padding: 5px 10px;font-size: 12px;font-weight: bold;border-radius: 5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);user-select: none;text-transform: uppercase;pointer-events: none;z-index: 10;white-space: nowrap;}
.resolution {left: 10px;background: gold;color: black;}
.serie {right: 10px;background-color: #800080;color: white;}
.movie-grid {display: grid;grid-template-columns: repeat(8, 200px);grid-gap: 12px;justify-content: center;box-sizing: border-box;margin: 0 auto;}
.movie-grid-section {padding: 40px 20px;background: #121212;text-align: center;color: #eee;}
.movie-grid-section h2 {font-size: 2rem; margin-bottom: 20px;}
.movie-grid-item {width: 200px;height: 300px;background: #424242;border-radius: 10px;box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);position: relative;transition: transform 0.3s ease;cursor: pointer;overflow: hidden;}
.movie-grid-item img {width: 100%; height: 100%; object-fit: cover;}
.movie-grid-item:hover {transform: scale(1.05); box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);}
