* {margin: 0; padding: 0; box-sizing: border-box; user-select: none;}
body {font-family: 'Arial', sans-serif;overflow-x: hidden;color: #ddd;background: #121212;}


header {position: relative;background: #0d0d0d;padding: 0 20px;display: flex;align-items: center;height: 80px;color: #ff3d00;box-shadow: 0 2px 10px rgba(255, 61, 0, 0.3);gap: 30px;}

/* Logo */
.logo {position: relative;display: flex;align-items: center;}
.logo img {height: 45px;width: auto;}

/* Avatar */
.avatar {width: 45px;height: 45px;border-radius: 50%;object-fit: cover;transition: transform 0.2s ease;}
.avatar:hover {transform: scale(1.1);}
.login-profile-container {position: absolute;right: 20px;top: 50%;transform: translateY(-50%);display: flex;align-items: center;gap: 15px;z-index: 10;}

/* Bouton de Connexion */
.login-button {background: linear-gradient(135deg, #ff3d00 0%, #ff5e2b 100%);color: #fff;padding: 10px 22px;font-size: 16px;font-weight: 700;border-radius: 12px;text-decoration: none;box-shadow: 0 4px 8px rgba(0,0,0,0.3);transition: all 0.3s ease;border: none;display: inline-block;letter-spacing: 0.5px;text-transform: uppercase;cursor: pointer;}
.login-button:hover {background: linear-gradient(135deg, #e63600 0%, #ff3d00 100%);box-shadow: 0 6px 15px rgba(0,0,0,0.4);transform: translateY(-2px) scale(1.02);}
.profile-menu {position: relative;display: inline-block;cursor: pointer;}
.dropdown-menu {position: absolute;top: 55px;right: 0;background: #1c1c1c;width: 160px;border-radius: 12px;box-shadow: 0 6px 15px rgba(0,0,0,0.5);display: none;flex-direction: column;overflow: hidden;z-index: 999;}
.dropdown-menu a {padding: 12px;color: white;font-size: 14px;text-decoration: none;display: block;transition: background 0.2s;}
.dropdown-menu a:hover {background: #ff3d00;}
.user-pseudo {font-size: 16px;color: white;font-weight: bold;display: inline-block;}

/* Don animation*/
.animated-link {font-size: 18px;font-weight: bold;text-decoration: none;color: black;display: inline-block;}
.animated-link span {display: inline-block;opacity: 0;animation: colorChange 3s infinite;}
.animated-link span:nth-child(1) {animation-delay: 0s;}
.animated-link span:nth-child(2) {animation-delay: 0.1s;}
.animated-link span:nth-child(3) {animation-delay: 0.2s;}
.animated-link span:nth-child(4) {animation-delay: 0.3s;}
.animated-link span:nth-child(5) {animation-delay: 0.4s;}
.animated-link span:nth-child(6) {animation-delay: 0.5s;}
.animated-link span:nth-child(7) {animation-delay: 0.6s;}
.animated-link span:nth-child(8) {animation-delay: 0.7s;}
.animated-link span:nth-child(9) {animation-delay: 0.8s;}
.animated-link span:nth-child(10) {animation-delay: 0.9s;}
.animated-link span:nth-child(11) {animation-delay: 1s;}
.animated-link span:nth-child(12) {animation-delay: 1.1s;}

@keyframes colorChange {
0% {opacity: 1;color: #FF4C4C;}
20% {opacity: 1;color: #FF6F61;}
40% {opacity: 1;color: #FFD700;}
60% {opacity: 1;color: #32CD32;}
80% {opacity: 1;color: #1E90FF;}
100% {opacity: 1;color: #FF1493;}}

/* Zone de Recherche de Films */
.search-container {position: relative;display: flex;align-items: center;width: 400px;}
.search-icon-wrapper {position: absolute;left: 10px;display: flex;align-items: center;justify-content: center;pointer-events: none;color: #666;}
.icon-svg {width: 20px;height: 20px;fill: currentColor;}
.search-box {width: 100%;padding: 10px 10px 10px 40px;border-radius: 4px;border: 1px solid #333;background-color: #0d0d0d;color: #eee;font-size: 16px;transition: box-shadow 0.3s, border-color 0.3s;}
.search-box:focus {outline: none;border-color: #b25a00;box-shadow: 0 0 0 5px rgba(178, 90, 0, 0.15);}

/* Bouton de barre de navigation */
ul {display: flex;list-style: none;}
ul li {margin: 0 10px;}
ul li a {text-decoration: none;color: #ffffffeb;font-weight: bold;font-size: 18px;transition: all 0.3s ease;}
ul li a.no-underline:hover {text-decoration: none;}

#loginBtn,
#profileMenuContainer,
#userPseudo {
  display: none;
}
body.hidden {
  visibility: hidden;

}
