.container {display: flex;flex-direction: column;gap: 10px;}



.movie-grid-row {display: flex;justify-content: center;gap: 10px;width: 100%;box-sizing: border-box;}
#movieIframeContainer {display: flex;justify-content: center;align-items: center;margin-top: 20px;}
#movieIframeContainer iframe {width: 800px; height: 450px; border: none;border-radius: 20px 20px 0 0;}
#movieTitle {font-size: 2rem;margin-bottom: 20px;margin-top: 20px;text-align: center;color: #ef2626;}


strong {font-weight: bold;}
::-webkit-scrollbar {width: 0px;}
.main-content {min-height: 100%;padding-bottom: 50px;}
.titan-one-regular {font-family: "Titan One", serif;font-weight: 400;font-style: normal;}
.federant-regular {font-family: "Federant", serif;font-weight: 400;font-style: normal;}


.movie-item {animation: featured-movie-animation 0.8s ease-out forwards;}
@keyframes featured-movie-animation {
    from {
        transform: translateX(-30px) scale(1.03);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}




